{% extends "base.html" %}
{% load static %}
{% block content %}

<ol class="breadcrumb">
  <li><a href="{% url 'yemek_home' %}">Home</a></li>
  <li><a href="{% url 'yemek_collection_list' %}">Collections</a></li>
  <li class="active">{{ object.name }}
    {% if user.is_superuser %}<a href="{{object.get_update_url}}">(Edit)</a>{% endif %}
  </li>
</ol>

<h1>{{ object.name }}</h1>

<ul>
{% for item in object.get_recipes %}
  <li><a href="{{ item.get_absolute_url }}">{{ item.title }}</li>
{% empty %}
  <li>None Found.</li>
{% endfor %}
</ul>

{% endblock %}
