{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'yemek_recipe_list' %}">Recipe Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>title</td>
    <td>slug</td>
    <td>created</td>
    <td>last_updated</td>
    <td>time_prep</td>
    <td>time_cook</td>
    <td>serves</td>
    <td>note</td>
    <td>subtitle</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.id}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.title }}</td>
    <td>{{ object.slug }}</td>
    <td>{{ object.created }}</td>
    <td>{{ object.last_updated }}</td>
    <td>{{ object.time_prep }}</td>
    <td>{{ object.time_cook }}</td>
    <td>{{ object.serves }}</td>
    <td>{{ object.note }}</td>
    <td>{{ object.subtitle }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'yemek_recipe_create' %}">Create new Recipe</a>
{% endblock %}