{% extends "base.html" %}
{% load static %}
{% block content %}

<ol class="breadcrumb">
  <li><a href="{% url 'yemek_home' %}">Home</a></li>
  <li class="active">Recipes</li>
</ol>

<h1>Recipes</h1>

<table class="table">
<tr>
    <td>Recipe</td>
    <td>Collection</td>
    <td>Source</td>
    <td>Ingredients</td>
    <td>Steps</td>
</tr>
{% for object in object_list %}
<tr>
    <td><a href="{{object.get_absolute_url}}"><strong>{{ object.title }}</strong>
    {{ object.subtitle }}</a></td>
    <td>{{ object.collection }}</td>
    <td>{{ object.source }}</td>
    <td>{{ object.get_ingredient_count }}</td>
    <td>{{ object.get_step_count }}</td>
</tr>
{% endfor %}
</table>

<a class="btn btn-primary" href="{% url 'yemek_recipe_create' %}">+</a>

{% endblock %}
