{% extends "base.html" %}
{% load static %}
{% block content %}

<ol class="breadcrumb">
  <li><a href="{% url 'yemek_home' %}">Home</a></li>
  <li><a href="{% url 'yemek_recipe_list' %}">Recipes</a></li>
  <li><a href="{% url 'yemek_collection_detail' object.collection.slug %}">{{ object.collection }}</a></li>
  <li class="active">{{ object.title }}
    {% if user.is_superuser %}<a href="{{object.get_update_url}}">(Edit)</a>{% endif %}
  </li>
</ol>

<h1>{{ object.title }} <small>{{ object.subtitle }}</small></h1>

<p>
  <strong><a href="{% url 'yemek_recipesource_detail' object.source.slug %}">{{ object.source }}</a></strong>
  {% if object.time_prep %} / Preparation: {{ object.time_prep }}{% endif %}
  {% if object.time_cook %} / Cooking Time: {{ object.time_cook }}{% endif %}
  {% if object.serves %} / Serves {{ object.serves }}{% endif %}
</p>

<p>{% if object.note %}<p>{{ object.note }}</p>{% endif %}</p>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>Ingredients</h4>
        <ul>
        {% for item in object.get_ingredients %}
          <li>
            {{ item.amount }}
            <strong>{{ item.name }}</strong>
            {{ item.desc }}
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>Instructions</h4>
        <ol>
          {% for step in object.get_steps %}
          <li>{{ step.name }}</li>
          {% endfor %}
        </ol>
      </div>
    </div>
  </div>
</div>

<p><small>Added: {{ object.created }} / Updated: {{ object.last_updated }}</small></p>


{% endblock %}
